{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<!--API message-->
<script>
    function markAsRead(id) {
        fetch('/api/message?msg_id=${id}', {
            method: "POST",
            credentials: "same-origin"
        })
    .then(res => res.json())
    .then(data => {
        if (data.Success) {
            alert("Wuhuu, read!");
            location.reload();
        } 
        else {
            alert("Fejllll: " + data.Message);
        }
    })
    .catch(err => alert("Error: " + err));
    }
</script>

{% endblock %} 