{% extends "base.html" %}

{% block content %}
<h1>Velkommen til RytmeRov!</h1>

<div class="row justify-content-center gx-4 gy-4 mt-3" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-sm-5 col-md-3 col-lg-3">
        <div class="card h-100 w-100">
            <img src="{{ url_for('static', filename='device.png') }}" 
                 class="card-img-top img-fluid" alt="device">
            
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Lær mere om RytmeRov</h5>
                <p class="card-text">
                    RytmeRov har fokus på effektivisering af hjertemonitorering for patienter
                    med hjerteproblemer. Før patienterne kommer ind til lægen, får de foretaget
                    forebyggende målinger med RytmeRovs smart device.
                </p>

                <a href="/mere-om-rytmerov" class="btn btn-primary mt-auto">Lær mere</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
