{% extends "base.html" %}

{% block content %}
<div class="container mt-5"> 
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>SYSADMIN </h1>
            <p>knapper til noget sysadmin kan.</p>

            <!-- Knap til oprette nye brugere -->
            <a href="{{ url_for('create_user') }}" class="btn btn-danger mb-3">
                <i class="bi bi-person-plus-fill"></i>
                Opret ny bruger
            </a>

            <!-- Knap til kigge på brugerne  -->
            <a href="{{ url_for('bruger_administration') }}" class="btn btn-danger mb-3 ms-2">
                <i class="bi bi-people-fill"></i>
                Bruger administration
            </a>
        </div>
    </div>
</div>
{% endblock %}
